<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Tablero de Coordinación')"></head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="app-layout">
        <aside th:replace="fragments/sidebar :: sidebar"></aside>
        <main>
            <h1>Panel del Coordinador</h1>
        </main>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>